---
version: 2.1

orbs:
  release-management: salesforce/npm-release-management@4

workflows:
  version: 2
  test-and-release:
    jobs:
      - release-management/test-package:
          matrix:
            parameters:
              os:
                - linux
                - windows
              node_version:
                - latest
                - lts
                - maintenance
            alias: unit-tests
      - release-management/test-package:
          name: release-management/test-package-yarn test:e2e-<< matrix.node_version >>-<< matrix.os >>
          command: yarn test:e2e
          matrix:
            parameters:
              os:
                - linux
                - windows
              node_version:
                - latest
                - lts
                - maintenance
            alias: integration-tests
      - release-management/release-package:
          context: SF-CLI-RELEASE-PROCESS
          filters:
            branches:
              only: main
          github-release: true
          requires:
            - unit-tests
            - integration-tests
  dependabot-automerge:
    triggers:
      - schedule:
          cron: '0 2,5,8,11 * * *'
          filters:
            branches:
              only:
                - main
    jobs:
      - release-management/dependabot-automerge:
          context: SF-CLI-RELEASE-PROCESS
